/11_EXAM_03/*.c
/14_EXAM_04/*.c
/17_EXAM_05/*/*.cpp
/17_EXAM_05/*/*.hpp
/20_EXAM_06/*.c

.vscode
.DS_Store

# 디폴트 무시된 파일
/shelf/
/workspace.xml

# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
