# standard
.gitignore
*.out
*.o
*/*.o
*.a
*/*.a
*dSYM*
*swp*
.DS_Store
.vscode/

# additional
*bkp*
*/*bkp*

# tests
*unit*
*/*unit*
*UNIT*
*/*UNIT*
*minunit*
*test*
*/*test*

# project specific
infile
outfile
minishell
heredoc
